<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title %}{{ title }} | {% endif %}Matt Turco</title>
  {% if description %}<meta name="description" content="{{ description }}">{% endif %}

  <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#607d8b">
  
  {% if googleFonts %}
  <script>(function loadCSS(e,n,o,t){"use strict";var d=window.document.createElement("link"),i=n||window.document.getElementsByTagName("script")[0],r=window.document.styleSheets;return d.rel="stylesheet",d.href=e,d.media="only x",t&&(d.onload=t),i.parentNode.insertBefore(d,i),d.onloadcssdefined=function(e){for(var n,o=0;o<r.length;o++)r[o].href&&r[o].href===d.href&&(n=!0);n?e():setTimeout(function(){d.onloadcssdefined(e)})},d.onloadcssdefined(function(){d.media=o||"all"}),d})('//fonts.googleapis.com/css?family={{ googleFonts }}');</script>
  <noscript><link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ googleFonts }}"></noscript>
  {% endif %}
  {% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
