@import (inline) "./node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 16px Roboto, Arial, Helvetica, sans-serif;
  font-display: swap;
}

body {
  margin: 0;
}

::selection {
  color: #fff;
  background-color: hsl(200, 85%, 25%);
  text-shadow: none;
}
