{% extends "layouts/default.njk" %}
{% set description = '' %}
{% set bodyClass = 'Home' %}

{% block head %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Kanit">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,700">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Handlee:300,400,700">
<link rel="stylesheet" href="css/home.min.css" inline>
{% endblock %}

{% block content %}
<h1 class="Home-name">Nicole Chanlatte</h1>
{# <h2 class="Home-tagline"><span class="Home-taglineLine"></span></h2> #}

<main>
  <section class="Home-links">
    <div class="Home-linksGroup">
      <h1 class="Home-heading"><span>Contact</span></h1>
      <ul class="Home-linkList">
        <li class="Home-linkItem">
          <a href="http://www.linkedin.com/in/nchanlatte" class="Home-link Home-link--linkedin">
            <img inline src="svg/linkedin.svg">
            <span>LinkedIn</span>
          </a>
        </li>
        <li class="Home-linkItem">
          <a href="mailto:nivazque@gmail.com" class="Home-link Home-link--email">
            <img inline src="svg/email.svg">
            <span>Email</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="Home-linksGroup">
      <h1 class="Home-heading"><span>About</span></h1>
      <ul class="Home-linkList">
        <li class="Home-linkItem">
          <a href="resume.html" class="Home-link Home-link--resume">
            <img inline src="svg/resume.svg">
            <span>Resume</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="Home-linksGroup">
      <h1 class="Home-heading"><span>Other</span></h1>
      <ul class="Home-linkList">
        <li class="Home-linkItem">
          <a href="https://github.com/nchanlatte" class="Home-link Home-link--github">
            <img inline src="svg/github.svg">
            <span>GitHub</span>
          </a>
        </li>
        <li class="Home-linkItem">
          <a href="/WanderingLatte/" class="Home-link Home-link--github">
            <img inline src="svg/globe.svg">
            <span>Travel</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}
