{% extends "layouts/default.njk" %}
{% set description = 'Matt Turco is a front end developer at Gallup in Omaha, Nebraska.' %}

{% block head %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Jura:300,700&text=MATT%20TURCO%20CODE%20CONTACT">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300">
<link rel="stylesheet" href="css/homepage.min.css" inline>
{% endblock %}

{% block content %}
<main>
  <h1 class="page-heading">Matt Turco</h1>
  <h2>front end developer &amp; design enthusiast</h2>
  
  <section class="profile-links">
    <div class="profile-links-group">
      <h1><span>Code</span></h1>
      <ul>
        <li>
          <a href="https://github.com/mturco" class="github">
            <img inline src="svg/github.svg">
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/mturco" class="bitbucket">
            <img inline src="svg/bitbucket.svg">
            <span>Bitbucket</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="profile-links-group">
      <h1><span>Contact</span></h1>
      <ul>
        <li>
          <a href="resume.html" class="resume">
            <img inline src="svg/resume.svg">
            <span>Resume</span>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/mattturco" class="linkedin">
            <img inline src="svg/linkedin.svg">
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="mailto:matt.turco@gmail.com" class="email">
            <img inline src="svg/email.svg">
            <span>Email</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>

{# <section class="page-section"></section> #}
{# <footer></footer> #}
{% endblock %}
