{% extends "layouts/default.html" %}
{% set googleFonts = 'Raleway:300|Roboto:100,300,400' %}

{% block head %}
<link inline href="css/homepage.css">
{% endblock %}

{% block content %}
<main>
  <h1>Matt Turco</h1>
  <h2>a web developer &amp; design enthusiast</h2>
  
  <div class="profile-links">
    <a href="https://github.com/mturco?tab=repositories" class="github">
      <img inline src="svg/github.svg">
      <span>GitHub</span>
    </a>

    <a href="https://bitbucket.org/mturco" class="bitbucket">
      <img inline src="svg/bitbucket.svg">
      <span>Bitbucket</span>
    </a>

    <a href="http://codepen.io/mturco/" class="codepen">
      <img inline src="svg/codepen.svg">
      <span>CodePen</span>
    </a>

    <a href="http://www.linkedin.com/in/mattturco" class="linkedin">
      <img inline src="svg/linkedin.svg">
      <span>LinkedIn</span>
    </a>

    <a href="https://plus.google.com/+MattTurco/about" class="google-plus">
      <img inline src="svg/google-plus.svg">
      <span>Google+</span>
    </a>

    <a href="mailto:matt.turco@gmail.com" class="email">
      <img inline src="svg/email.svg">
      <span>Email</span>
    </a>
  </div>
</main>

<!--<section></section>-->

<!--<footer></footer>-->
{% endblock %}
