{% extends "layouts/default.njk" %}
{% set pageTitle = 'Photography' %}
{% set description = 'Matt Turco is a front end developer at Gallup in Omaha, Nebraska.' %}

{% block head %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400">
<link rel="stylesheet" href="css/photography.min.css" inline>
{% endblock %}

{% block content %}
<main class="Gallery">
  <header class="Gallery-header">
    <a href="/" class="Gallery-logoLink">
      <img inline src="svg/logo.svg" class="Gallery-logo">
    </a>
    <h1 class="Gallery-heading">Photography</h1>
  </header>

  <div class="Gallery-grid">
    {{ image('v1518885972/IMG_20160108_195608_fipjav.jpg') }}
    {{ image('v1518884798/IMG_20171008_143907_ppnjwj.jpg') }}
    {{ image('v1518884986/IMG_20161021_165411_bq5r7y.jpg') }}
    {{ image('v1518885008/IMG_20161028_155531_aqwv32.jpg') }}
    {{ image('v1518884976/IMG_20160908_182514_zhnxh6.jpg') }}
    {{ image('v1518884572/IMG_20160704_190132_tlascj.jpg') }}
    {{ image('v1518884671/MVIMG_20171024_000337_dtgayl.jpg') }}
    {{ image('v1518884669/MVIMG_20171028_083314_zrr8cx.jpg') }}
    {{ image('v1518884844/MVIMG_20171016_083152_prqgfr.jpg') }}
    {{ image('v1518884823/IMG_20171003_163047_adco0g.jpg') }}
    {{ image('v1518884821/IMG_20171005_151846_cpgmqz.jpg') }}
    {{ image('v1518884816/IMG_20171008_105234_v0i9mh.jpg') }}
    {{ image('v1518884830/IMG_20171004_155743_yqupm2.jpg') }}
    {{ image('v1518884825/IMG_20171003_124444_vo5inw.jpg') }}
    {{ image('v1518884837/IMG_20171003_124647_qzm57p.jpg') }}
    {{ image('v1518884839/IMG_20171003_114524_tbnywn.jpg') }}
    {{ image('v1518885008/IMG_20171002_091528_kkeydb.jpg') }}
    {{ image('v1518885014/MVIMG_20171028_085644_ln7zoe.jpg') }}
    {{ image('v1518885005/IMG_20171003_105957_qagfbd.jpg') }}
    {{ image('v1518885002/IMG_20161105_162636_lipgfg.jpg') }}
    {{ image('v1518884969/IMG_20160707_120013_sbmear.jpg') }}
  </div>
</main>

<div class="Gallery-viewer"></div>
{% endblock %}

{% block scripts %}
<script src="js/photography.js" inline></script>
{% endblock %}

{% macro image(suffix) %}
<div class="Gallery-imageWrapper">
  <a class="Gallery-image"
    data-preview="//res.cloudinary.com/mturco/image/upload/c_scale,f_auto,q_auto:low,w_20/{{ suffix }}"
    data-thumb="//res.cloudinary.com/mturco/image/upload/c_scale,f_auto,q_auto,w_480/{{ suffix }}"
    data-full="//res.cloudinary.com/mturco/image/upload/f_auto,q_auto:best/{{ suffix }}"
    data-loaded="0"
    href="//res.cloudinary.com/mturco/image/upload/f_auto,q_auto:best/{{ suffix }}">
    <noscript>
      <img src="//res.cloudinary.com/mturco/image/upload/c_scale,f_auto,q_auto,w_480/{{ suffix }}">
    </noscript>
  </a>
</div>
{% endmacro %}
