{% extends "layouts/default.njk" %}
{% set title = 'Resume' %}
{% set description = 'Matt Turco is a front end developer at Gallup in Omaha, Nebraska.' %}

{% block head %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Kanit&text=Matt%20Turco">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="css/resume.min.css" inline>
{% endblock %}

{% block content %}
<article class="Resume">

  <header class="Resume-header">
    <h1 class="Resume-name"><a href="/">Matt Turco</a></h1>
    <ul class="Resume-contactInfo">
      <li class="Resume-contactInfoItem"><a href="mailto:matt.turco@gmail.com">matt.turco@gmail.com</a></li>
      <li class="Resume-contactInfoItem"><a href="tel:402-630-5866">(402) 630-5866</a></li>
      <li class="Resume-contactInfoItem"><a href="https://github.com/mturco">github.com/mturco</a></li>
      <li class="Resume-contactInfoItem u-hidden--md"><a href="/">mturco.com</a></li>
    </ul>
  </header>

  {# <section class="Resume-section">
    <header class="Resume-sectionHeader">
      <h1 class="Resume-sectionHeading">About</h1>
    </header>

    <div class="Resume-content">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.</p>
    </div>
  </section> #}

  <section class="Resume-section">
    <header class="Resume-sectionHeader">
      <h1 class="Resume-sectionHeading">Experience</h1>
    </header>

    <div class="Resume-content">
      <div class="Resume-row">
        <div class="Resume-column--right">
          <p class="Resume-date">Feb 2015&ndash;Present</p>
        </div>
        <div class="Resume-column">
          <h2>UX Developer</h2>
          <h3>Gallup</h3>
          <ul>
            <li>Developed an SVG graphing library to replace a legacy Flash-based tool; used it to build an interactive data visualization for <a href="http://news.gallup.com/interactives/185273/presidential-job-approval-center.aspx" data-short-url="https://goo.gl/aZQsaz">exploring historical presidential approval ratings</a>.</li>
            <li>Contributed to a library of UI components used by Gallup's various web applications and marketing sites.</li>
            <li>Improved front end performance by optimizing site rendering, minimizing asset sizes, and reducing dependencies. Measured and tested against metrics such as first meaningful paint and time to interactive.</li>
            <li>Led scrum ceremonies and code reviews, established coding standards, and mentored junior developers.</li>
            <li>Conducted remote and in-person usability studies. Presented findings and recommendations to stakeholders.</li>
            <li>Improved accessibility of several web sites and applications. Helped bring the StrengthsQuest OS web application into WCAG2 compliance.</li>
          </ul>
        </div>
      </div>

      <div class="Resume-row">
        <div class="Resume-column--right">
          <p class="Resume-date">Nov 2012&ndash;Feb 2015</p>
        </div>
        <div class="Resume-column">
          <h2>Web Developer</h2>
          <h3>Optimum Data</h3>
          <ul>
            <li>Designed, developed, and maintained an intuitive inventory management web application that interfaces with legacy ERP software.</li>
            <li>Improved company workflows through automation and integrations with other software.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="Resume-section">
    <header class="Resume-sectionHeader">
      <h1 class="Resume-sectionHeading">Education</h1>
    </header>

    <div class="Resume-content">
      <div class="Resume-row">
        <div class="Resume-column--right">
          <p class="Resume-date">May 2015</p>
        </div>
        <div class="Resume-column">
          <h2>Bachelor of Science in Business Administration</h2>
          <h3>Creighton University</h3>
          <p>Business Intelligence &amp; Analytics</p>
        </div>
      </div>
    </div>
  </section>

  <section class="Resume-section">
    <header class="Resume-sectionHeader">
      <h1 class="Resume-sectionHeading">Skills</h1>
    </header>

    <div class="Resume-content">
      <div class="Resume-grid">
        <div class="Resume-gridItem Resume-gridItem--2">
          <h2>Front end development</h2>
          <ul>
            <li>Creating components and composing applications from them</li>
            <li>Building with frameworks (React, Vue, etc)</li>
            <li>Configuring and using build tools (Webpack, Gulp, Babel, etc)</li>
            <li>Developing and maintaining libraries with varied use cases</li>
          </ul>
        </div>

        <div class="Resume-gridItem Resume-gridItem--2">
          <h2>Leadership</h2>
          <ul>
            <li>Leading agile scrum ceremonies</li>
            <li>Maintaining repositories and reviewing peer contributions</li>
            <li>Establishing and documenting coding standards and team processes</li>
            <li>Mentoring junior developers</li>
          </ul>
        </div>

        <div class="Resume-gridItem Resume-gridItem--2">
          <h2>Technologies</h2>
          <ul>
            <li><strong>Languages:</strong> HTML, CSS, JavaScript, C#, Java, PHP, SQL, SVG, JSON</li>
            <li><strong>Frameworks:</strong> React, Vue, Mithril, Inferno, ASP.NET</li>
            <li><strong>General:</strong> Git, Bash, regular expressions</li>
          </ul>
        </div>

        <div class="Resume-gridItem Resume-gridItem--2">
          <h2>Collaboration</h2>
          <ul>
            <li>Partnering with UX designers to identify patterns, implement user interfaces, and provide technical insight</li>
            <li>Communicating with project managers and product owners to define acceptance criteria and timelines</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="Resume-section">
    <header class="Resume-sectionHeader">
      <h1 class="Resume-sectionHeading">Projects</h1>
    </header>

    <div class="Resume-content">
      <ul>
        <li><a href="https://goofy-lovelace-5d7489.netlify.com" data-short-url="https://goo.gl/nauCTg">hacker-news-vue</a> &mdash; A Hacker News reader built with Vue.js</li>
        <li><a href="https://github.com/mturco/context-menu" data-short-url="https://goo.gl/JsshDv">context-menu</a> &mdash; A small JS library for adding a context menu to any HTML element</li>
      </ul>
    </div>
  </section>
</article>
{% endblock %}
