{% extends "layouts/default.njk" %}
{% set title = 'Resume' %}
{% set description = 'Matt Turco is a web developer at Gallup in Omaha, Nebraska.' %}

{% block head %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300&text=MATT%20TURCO">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400">
<link rel="stylesheet" href="css/resume.min.css" inline>
{% endblock %}

{% block content %}
<header class="page-header">
  <h1 class="page-heading">Matt Turco</h1>
  <p class="contact-info"><a href="mailto:matt.turco@gmail.com">matt.turco@gmail.com</a></p>
</header>

<main>
  {# <section>
    <header>
      <h1 class="section-heading">About</h1>
    </header>

    <div class="entries">
      <div class="entry">
        <div class="side-col">
        </div>
        <div class="main-col">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.</p>
        </div>
      </div>
    </div>
  </section> #}

  <section>
    <header>
      <h1 class="section-heading">Experience</h1>
    </header>

    <div class="entries">
      <div class="entry">
        <div class="side-col">
          <p class="time-period">May 2015&ndash;Present</p>
        </div>
        <div class="main-col">
          <h2 class="entry-title">UX Developer</h2>
          <h3 class="entry-subtitle">Gallup</h3>
          <p class="description">Contributed significantly to a library of reusable web components used by various web applications and marketing sites. Developed an SVG-based graphing library; used it to build an interactive data visualization for exploring historical presidential approval ratings. Optimized front end site performance through compression, bundling, prioritization, and refactoring. Performed scrum master and merge master responsibilities.</p>
        </div>
      </div>

      <div class="entry">
        <div class="side-col">
          <p class="time-period">Feb 2015&ndash;May 2015</p>
        </div>
        <div class="main-col">
          <h2 class="entry-title">UX Developer Intern</h2>
          <h3 class="entry-subtitle">Gallup</h3>
          <p class="description">Conducted remote and in-person usability studies and reported findings and recommendations to stakeholders. Resolved browser inconsistencies and bugs across multiple websites.</p>
        </div>
      </div>

      <div class="entry">
        <div class="side-col">
          <p class="time-period">Nov 2012&ndash;Feb 2015</p>
        </div>
        <div class="main-col">
          <h2 class="entry-title">Web Developer</h2>
          <h3 class="entry-subtitle">Optimum Data</h3>
          <p class="description">Designed, developed, and maintained an intuitive inventory management web application that interfaces with legacy ERP software. Improved company workflows through automation and integrations with other software.</p>
        </div>
      </div>

      <div class="entry hidden">
        <div class="side-col">
          <p class="time-period">Aug 2008&ndash;Nov 2012</p>
        </div>
        <div class="main-col">
          <h2 class="entry-title">Order Picker</h2>
          <h3 class="entry-subtitle">Optimum Data</h3>
          <p class="description">Configured networking equipment to meet customer specifications. Assembled and installed order materials, often working with strict shipping deadlines.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h1 class="section-heading">Education</h1>
    </header>

    <div class="entries">
      <div class="entry">
        <div class="side-col">
          <p class="time-period">May 2015</p>
        </div>
        <div class="main-col">
          <h2 class="entry-title">Bachelor of Science in Business Administration</h2>
          <h3 class="entry-subtitle">Creighton University</h3>
          <p>Business Intelligence &amp; Analytics (3.75 GPA)</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h1 class="section-heading">Skills</h1>
    </header>

    <div class="entries">
      <div class="entry">
        <div class="columns">
        <div class="list">
          <h2 class="entry-title">Programming Languages</h2>
          <ul>
            <li>HTML &amp; CSS/Sass/LESS</li>
            <li>JavaScript</li>
            <li>C#</li>
            <li>PHP</li>
            <li>Java</li>
            <li>SQL</li>
          </ul>
        </div>
        <div class="list">
          <h2 class="entry-title">Development Tools</h2>
          <ul>
            <li>Git</li>
            <li>Node.js</li>
            <li>Gulp</li>
          </ul>
        </div>
        <div class="list">
          <h2 class="entry-title">Software Patterns</h2>
          <ul>
            <li>Model-View-Controller</li>
            <li>REST</li>
            <li>Responsive web design</li>
            <li>Mobile-first design</li>
          </ul>
        </div>
        <div class="list">
          <h2 class="entry-title">Frameworks</h2>
          <ul>
            <li>AngularJS</li>
            <li>CodeIgniter</li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </section>

  {# <section>
    <header>
      <h1 class="section-heading">Interests</h1>
    </header>

    <div class="entries">
      <div class="entry">
      </div>
    </div>
  </section> #}
</main>
{% endblock %}
