{% extends "layouts/default.njk" %}
{% set title = 'Resume' %}
{% set description = 'Matt Turco is a web developer at Gallup in Omaha, Nebraska.' %}

{% block head %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300&text=Matt%20Turco">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="stylesheet" href="css/resume.min.css" inline>
{% endblock %}

{% block content %}
<header class="page-header">
  <h1 class="page-heading">Matt Turco</h1>
  <p class="contact-info"><a href="mailto:matt.turco@gmail.com">matt.turco@gmail.com</a></p>
</header>

<main>
  {# <section>
    <header>
      <h1 class="section-heading">About</h1>
    </header>

    <div class="section-content">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.</p>
    </div>
  </section> #}

  <section>
    <header>
      <h1 class="section-heading">Experience</h1>
    </header>

    <div class="section-content">
      <div class="entry row">
        <div class="side-col">
          <p class="time-period">May 2015&ndash;Present</p>
        </div>
        <div class="main-col">
          <h2>UX Developer</h2>
          <h3>Gallup</h3>
          <ul>
            <li>Contributed to a library of reusable web components used by various web applications and marketing sites.</li>
            <li>Developed an SVG-based graphing library; used it to build an interactive data visualization for exploring historical presidential approval ratings.</li>
            <li>Improved front end performance by minimizing asset sizes, optimizing the critical render path, and reducing dependencies.</li>
            <li>Performed scrum master and merge master responsibilities.</li>
          </ul>
        </div>
      </div>

      <div class="entry row">
        <div class="side-col">
          <p class="time-period">Feb 2015&ndash;May 2015</p>
        </div>
        <div class="main-col">
          <h2>UX Developer Intern</h2>
          <h3>Gallup</h3>
          <ul>
            <li>Conducted remote and in-person usability studies and reported findings and recommendations to stakeholders.</li>
            <li>Resolved browser inconsistencies and bugs across multiple websites.</li>
          </ul>
        </div>
      </div>

      <div class="entry row">
        <div class="side-col">
          <p class="time-period">Nov 2012&ndash;Feb 2015</p>
        </div>
        <div class="main-col">
          <h2>Web Developer</h2>
          <h3>Optimum Data</h3>
          <ul>
            <li>Designed, developed, and maintained an intuitive inventory management web application that interfaces with legacy ERP software.</li>
            <li>Improved company workflows through automation and integrations with other software.</li>
          </ul>
        </div>
      </div>

      <div class="entry row hidden">
        <div class="side-col">
          <p class="time-period">Aug 2008&ndash;Nov 2012</p>
        </div>
        <div class="main-col">
          <h2>Order Picker</h2>
          <h3>Optimum Data</h3>
          <ul>
            <li>Configured networking equipment to meet customer specifications.</li>
            <li>Assembled and installed order materials, often working with strict shipping deadlines.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h1 class="section-heading">Education</h1>
    </header>

    <div class="section-content">
      <div class="entry row">
        <div class="side-col">
          <p class="time-period">May 2015</p>
        </div>
        <div class="main-col">
          <h2>Bachelor of Science in Business Administration</h2>
          <h3>Creighton University</h3>
          <p>Business Intelligence &amp; Analytics (3.75 GPA)</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h1 class="section-heading">Skills</h1>
    </header>

    <div class="section-content grid">
      <div class="grid-item grid-item--2">
        <h2>Front end development</h2>
        <ul>
          <li>Composing applications from reusable components</li>
          <li>Building with frameworks (React, Vue, Mithril, etc)</li>
          <li>Using and configuring build tools (Webpack, Gulp, Babel, etc)</li>
          <li>Identifying alternative or future use cases</li>
        </ul>
      </div>

      <div class="grid-item grid-item--2">
        <h2>Leadership</h2>
        <ul>
          <li>Establishing and documenting standards and processes</li>
          <li>Finding the core problems behind development requests</li>
          <li>Performing scrum master responsibilities</li>
          <li>Maintaining repositories (reviewing code and merging branches)
        </ul>
      </div>
    </div>
  </section>
</main>
{% endblock %}
