@import "shared/definitions";
@import "shared/base";

@section-skew: -6deg;
@section-offset: 5.2vh;
@section-alt-bg: #607d8b;

@profile-link-duration: 0.8s;
@profile-link-timing: cubic-bezier(0.23, 1, 0.32, 1);

/*
** Layout
*/

main,
section,
footer {
  padding: 25px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

section {
  position: relative;

  &:nth-of-type(odd) {
    z-index: 1;
    color: #fff;

    &::before {
      position: absolute;
      top: @section-offset * -1;
      right: 0;
      bottom: @section-offset * -1;
      left: 0;
      z-index: -1;
      content: "";
      background-color: @section-alt-bg;
      transform: skewY(@section-skew);
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:nth-of-type(even) {
    margin: (@section-offset * 2) 0;
  }
}

footer {
  padding-top: (@section-offset * 2);
  color: #fff;
  background-color: #424242;
}

/*
** Type
*/

h1 {
  font-size: 3em;
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

main {
  h1,
  h2 {
    text-align: center;
  }

  h1 {
    margin: 5px 0;
    font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: @primary-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
  }

  h2 {
    color: @heading-color;
  }
}

/*
** Profile Links
*/

.profile-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;

  a {
    position: relative;
    display: flex;
    width: 128px;
    height: 128px;
    margin: 10px;
    font: 15px Roboto, sans-serif;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &,
    &::after {
      transition: all @profile-link-duration @profile-link-timing;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      border-radius: 50%;
      transform: scale3d(1.15, 1.15, 1);
    }

    &:hover {
      color: #fff;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

      &::after {
        transform: scale3d(1, 1, 1);
      }

      svg {
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
      }
    }

    svg {
      width: 48px;
      height: 48px;
      margin-bottom: 5px;
      fill: currentColor;
    }
  }

  @media (min-width: 550px) {
    margin-top: 50px;

    a {
      font-size: 17px;
    }
  }
}

.profile-link(@name, @color) {
  .@{name} {
    color: @color;

    &:hover::after {
      background-color: @color;
    }
  }
}

.profile-link(github, #424242);
.profile-link(bitbucket, #0288d1);
.profile-link(codepen, #8bc34a);
.profile-link(linkedin, #ff5722);
.profile-link(email, #26a69a);
