@import "shared/base";

.Resume {
  a {
    color: @primary-color;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.1s ease-in;

    &:hover {
      border-color: currentColor;
    }
  }

  &-header {
    padding: 3rem 1rem;
    color: #fff;
    text-align: center;
    background-color: @primary-color;

    @media print {
      padding: 0 0 1.5rem;
      background-color: transparent;
      border-bottom: 1px solid hsl(200, 5%, 80%);
    }

    a {
      color: inherit;
    }
  }

  &-name {
    margin: 0 0 1.5rem;
    font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 300;

    @media print {
      margin-bottom: 1rem;
      color: @primary-color;
    }
  }

  &-contactInfo {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

    @media print {
      color: @text-color;
    }
  }

  &-contactInfoItem {
    padding: 0 1rem;

    & + & {
      border-left: 1px solid currentColor;
    }
  }

  &-section {
    max-width: 64em;
    padding: 2rem 0;
    margin: 0 1rem;

    @media (min-width: 30em) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }

    @media (min-width: 40em) {
      margin-right: 3rem;
      margin-left: 3rem;
    }

    @media print, (min-width: 48em) {
      display: flex;
    }

    @media (min-width: 72em) {
      margin-right: auto;
      margin-left: auto;
    }

    @media print {
      max-width: none;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      margin: 0;
    }

    &:last-child {
      @media print {
        padding-bottom: 0;
      }
    }

    & + & {
      border-top: 1px solid hsl(200, 5%, 80%);
    }
  }

  &-sectionHeader {
    @media (min-width: 48em) {
      width: 10rem;
    }

    @media print {
      width: 8rem;
    }
  }

  &-sectionHeading {
    display: inline-block;
    padding: 1px 4px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    background-color: @primary-color;

    @media print {
      color: @primary-color;
      background-color: transparent;
    }
  }

  &-content {
    flex: 1;
    line-height: 1.5;
    color: @text-color;

    &--grid {
      margin: -1rem;

      @media print, (min-width: 64em) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    h2,
    h3 {
      margin-top: 0;
      margin-bottom: 0.25em;
      color: @heading-color;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 500;
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 400;
    }

    p,
    ul,
    ol {
      margin: 0;
    }

    p + p {
      margin-top: 1em;
    }

    ul {
      padding-left: 18px;
      list-style-type: circle;
    }

    li {
      margin-bottom: 0.5em;
    }
  }

  &-row {
    @media print, (min-width: 64em) {
      display: flex;
    }

    & + & {
      margin-top: 2.5rem;

      @media print {
        margin-top: 1.5rem;
      }
    }
  }

  &-column {
    flex: 1 0 0%;

    &--right {
      @media (min-width: 48em) {
        float: right;
      }

      @media print, (min-width: 64em) {
        order: 2;
        flex: 0 0 9rem;
        margin-left: 3rem;
      }
    }
  }

  &-date {
    margin-bottom: 0.5em;
    font-size: 0.875rem;
    color: @text-color;
  }

  &-gridItem {
    flex: 1 0 0%;
    padding: 1rem;

    &--2 {
      flex-basis: 50%;
    }
  }
}

@page {
  margin: 0;
}

html {
  @media print {
    margin: 1cm;
    font-size: 13px;
  }
}
